.grammar-window {
    width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 10px solid #949494;
    margin-left: auto;
    padding: 0 50px 50px 50px;
    font-family: 'Open Sans';
    min-height: 0;
    position: relative;
}

.spinner-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
